//@import "../../node_modules/materialize-css/sass/materialize.scss";
$primary: #BE0000;
$dark: #0A0A0A;
$accent: #D80365;
body {
  font-family: Muli;
}

.btn-large {
  box-shadow: none;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  padding: 15px 20px;
  height: auto;
  line-height: 1;
  font-weight: lighter;
  &:hover,
  &:focus {
    background: transparent;
  }
  &.dark {
    color: $dark;
    border: 1px solid $dark;
    &:hover,
    &:focus {
      color: $primary;
      border: 1px solid $primary;
    }
  }
}

.btn-floating {
  background: #fff;
  i {
    color: $dark;
  }
  &:hover,
  &:focus,
  &:active {
    background: #fff;
    i {
      color: $dark;
    }
  }
}

.page {
  .brand {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    img {
      height: 45px;
    }
    @media screen and (max-width: 480px) {
      top: 50px;
      text-align: center;
      z-index: 5;
      img {
        height: 35px;
      }
    }
  }
  &.home {
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .pro-section,
    .service-section {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      min-height: 700px;
      display: flex;
      align-items: center;
      padding: 2em 5em;
      overflow: hidden;
      overflow-y: auto;
      background-size: cover;
      .info {
        max-width: 75%;
        h1,
        ul {
          color: #fff;
          margin-bottom: 25px;
        }
        h1 {
          font-size: 38px;
          font-weight: bolder;
        }
        ul li {
          padding: 0 0 1em 0;
        }
      }
    }
    .pro-section {
      background: $primary;
      left: 0;
      justify-content: flex-end;
      text-align: right;
    }
    .service-section {
      right: 0;
      justify-content: flex-start;
      text-align: left;
      background-size: cover;
      background-position: center;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
      }
    }
    .action-nav {
      display: none;
    }
    @media screen and (max-width: 1024px) {
      .pro-section,
      .service-section {
        .info {
          max-width: none;
          h1 {
            font-size: 36px;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      .pro-section,
      .service-section {
        width: 20%;
        padding: 0;
        transition: width 120ms ease-in-out;
        .info {
          visibility: hidden;
        }
        &.active {
          width: 80%;
          padding: 2em 4em;
          .info {
            visibility: visible;
          }
        }
      }
      .action-nav {
        display: block;
        position: fixed;
        z-index: 10;
        bottom: 65px;
        right: calc(20% - 28px);
        a {
          position: relative;
          overflow: visible;
          text-transform: capitalize;
          font-weight: 100;
          &:before {
            content: "Service Provider";
            position: absolute;
            left: -200px;
            background: $dark;
            top: 8px;
            padding: 12px 15px;
            width: 180px;
          }
          &:after {
            content: "";
            width: 15px;
            height: 15px;
            background: $dark;
            transform: rotate(45deg);
            position: absolute;
            top: 20px;
            left: -30px;
          }
          i {
            font-size: 1.8em;
            display: none;
            color: $primary;
          }
        }
      }
      .service-section.active~.action-nav a {
        &::before {
          content: "Professional";
        }
        i.pro {
          display: inline-block;
        }
      }
      .pro-section.active~.action-nav a {
        &::before {
          content: "Service provider";
        }
        i.service {
          display: inline-block;
        }
      }
    }
    @media screen and (max-width: 480px) {
      .pro-section,
      .service-section {
        width: 15px;
        min-height: 100vh;
        &.active {
          width: calc(100% - 15px);
        }
      }
      .action-nav {
        bottom: 35px;
      }
    }
  }
  .page-form {
    .header {
      position: relative;
      background-size: cover;
      background-position: center;
      padding-bottom: 8em;
      padding-top: 10em;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(190, 0, 0);
        background: linear-gradient(180deg, rgba(190, 0, 0, 1) 0%, rgba(190, 0, 0, 1) 19%, rgba(190, 0, 0, 0.3575805322128851) 100%);
      }
      .title {
        position: relative;
        z-index: 5;
        color: #fff;
        margin-bottom: 3em;
        h2 {
          font-size: 32px;
          font-weight: bolder;
        }
        p {
          font-weight: 200;
        }
      }
      .input-field {
        label {
          color: #fff;
          opacity: .8;
          font-weight: bold;
        }
        >label {
          top: auto;
          bottom: 25px;
        }
        input {
          border-color: #fff;
          color: #fff;
        }
        input:focus {
          border-color: #fff;
          box-shadow: 0 1px 0 0 #fff;
        }
        input:focus+label {
          color: #fff;
          opacity: 1;
        }
      }
    }
    .body {
      position: relative;
      z-index: 10;
      margin-top: -100px;
      .input-video {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 320px;
        width: 100%;
        background: #fff;
        box-shadow: 0 1px 6px rgba($dark, .2);
        margin-bottom: 3em;
        cursor: pointer;
        .content {
          text-align: center;
          padding: 0 1em;
          i {
            font-size: 8em;
            color: rgba($primary, .3);
            display: block;
          }
        }
        .thumbnail {
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: cover;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .4);
          }
          i {
            font-size: 4em;
            color: #fff;
            position: relative;
            z-index: 1;
          }
          .remove-vid {
            position: absolute;
            right: -15px;
            box-shadow: none;
            background-color: $accent;
            overflow: visible;
            i {
              font-size: 1.5em;
            }
            &:before {
              content: "Remove";
              position: absolute;
              background: $dark;
              left: -105px;
              top: -2px;
              padding: 2px 15px;
              width: 85px;
            }
            &:after {
              content: "";
              width: 15px;
              height: 15px;
              background: $dark;
              transform: rotate(45deg);
              position: absolute;
              top: 8px;
              left: -30px;
            }
          }
        }
        &.uploaded {
          .thumbnail {
            visibility: visible;
          }
        }
      }
      .input-field {
        margin-bottom: 2em;
        label {
          color: $dark;
          opacity: .8;
          font-weight: bold;
        }
        >label {
          top: auto;
          bottom: 25px;
        }
        input {
          border-color: $dark;
          color: $dark;
        }
        input:focus {
          border-color: $primary;
          box-shadow: 0 1px 0 0 $primary;
        }
        input:focus+label {
          color: $primary;
          opacity: 1;
        }
      }
      .input-beta {
        label {
          color: $dark;
          font-size: 1rem;
        }
        .choice {
          margin-top: 1.5em;
          label {
            font-size: 1.5rem;
            color: rgba($dark, .6);
            .with-gap:checked+span {
              &:after {
                background-color: $primary;
                border-color: $primary;
              }
              &:before {
                border-color: $primary;
              }
            }
          }
        }
      }
    }
    .footer {
      padding: 3em 0;
      margin-bottom: 5em;
    }
    @media screen and (max-width: 768px) {
      .header,
      .body,
      .footer {
        padding-left: 1.5em;
        padding-right: 1.5em;
        .input-video {
          height: 250px;
        }
      }
    }
  }
}

.dark-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .4);
  .success {
    text-align: center;
    h1 {
      font-size: 65px;
      color: #fff;
      font-weight: bolder;
    }
    p {
      color: #fff;
      margin-bottom: 4em;
    }
  }
}